body{
  font-family: Arial, Geneva, Helvetica, sans-serif;
}

.image-container {
    background-color: #1c3968;
}
.tag-line {
  background-color: #4B6BAF;
  
}
.button {
  background-color: #8DADD9;
  color: white;
  font-size: 10em;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: bold;
  unicode-bidi: isolate;
  text-align: center;
}
.main-section {
  background-color: #ffffff;
}

h1 {
    color: rgb(250, 247, 247);
    font-size: 2.5em;
}

h2 {
    color: white;
    font-size: 20em;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
    unicode-bidi: isolate;
    text-align: center;
}

