body {
    background-color: #1c3968;
}

h1 {
    color: rgb(250, 247, 247);
}

h2 {
    color: white
}
.image-container {
  position: relative;
  height: 100%;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay-text {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);  
  color: #fff; 
  padding: 10px 20px; 
  font-size: 20px; 
  text-align: center;
}
