.image-container {
    background-color: #1c3968;
}
.tag-line {
  background-color: #4B6BAF;
}
.button {
  background-color: #8DADD9;
}
.main-section {
  background-color: #ffffff;
}

h1 {
    color: rgb(250, 247, 247);
    font-size: 2.5em;
}

h2 {
    color: white
    font-size: 1.875em;
}
.image-container {
  position: relative;
  width: 25%;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay-text {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: #000; 
  color: #fff; 
  padding: 10px 20px; 
  font-size: 20px;
  text-align: center;
}
